.header {

  padding: 18px 0;
}

.header__logo {
  max-width: 162px;
}

.header__button {
  padding: 18px 40px;
  border: 1px solid #232020;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}